$colors: (
  plain: (
    bg: #ffffff,
    text: #1e1d25,
    text-secondary: #4e4c62,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action: #1e1d25,
    action-text: #ffffff,
    action-primary-hover: #3f3d4d,
    action-primary-active: #5b5777,
    action-secondary-hover: #3f3d4c1a,
    action-secondary-active: #3f3d4c4d,
    input-bg: #eeeef1,
  ),
  tint: (
    bg: #ffe9ea,
    text: #4f0b15,
    text-secondary: #9c5557,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action: #440000,
    action-text: #fdfdfd,
    action-primary-hover: #8f2d2d,
    action-primary-active: #bd5656,
    action-secondary-hover: #8f2d2d1a,
    action-secondary-active: #8f2d2d33,
    input-bg: #f5cdce,
  ),
);
